
100knock_chapter7/GoogleNews-vectors-negative300/GoogleNews-vectors-negative300.bin
100knock_chapter7/wordsim353/combined.csv
100knock_chapter7/wordsim353/combined.tab
100knock_chapter7/wordsim353/instructions.txt
100knock_chapter7/wordsim353/set1.csv
100knock_chapter7/wordsim353/set1.tab
100knock_chapter7/wordsim353/set2.csv
100knock_chapter7/wordsim353/set2.tab
